{{<partials-page}}
{{$page-content}}

<!-- alert-complete is the HOF supported class currently, should be using the govuk-styles -->
<div class="govuk-panel alert-complete govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        {{#t}}pages.complete.confirmed{{/t}}
    </h1>
</div>
<h2 class="govuk-heading-m">{{#t}}pages.complete.header2{{/t}}</h2>
<p class="govuk-body">{{#t}}pages.complete.text1{{/t}}</p>
<p class="govuk-body">{{#t}}pages.complete.text2{{/t}}</p>
<p class="govuk-body">{{#t}}pages.complete.text3{{/t}} <a href="mailto:{{#t}}pages.complete.helpEmail{{/t}}">{{#t}}pages.complete.helpEmail{{/t}}</a>.</p>
<p class="govuk-body"><a href="https://www.gov.uk/done/accept-refugee-integration-loan">{{#t}}pages.complete.feedbackLink{{/t}}</a> {{#t}}pages.complete.feedbackText{{/t}}</p>

{{/page-content}}
{{/partials-page}}