{{<partials-page}}
{{$page-content}}

<h2 class="govuk-heading-m">{{#t}}pages.confirm.loanReferenceHeader{{/t}} {{values.loanReference}}</h2>
<p>{{#t}}pages.confirm.text1{{/t}}</p>
<p>{{#t}}pages.confirm.text2{{/t}}</p>
<ul class="list list-bullet">
    <li>{{#t}}pages.confirm.bullet1{{/t}}</li>
    <li>{{#t}}pages.confirm.bullet2{{/t}}</li>
</ul>

<input type="submit" class="button" value="{{#t}}pages.confirm.submit{{/t}}"/>

<details>
    <summary role="button">
        <span class="summary">
          {{#t}}pages.confirm.hiddenHelpLink{{/t}}
        </span>
    </summary>
    <div class="panel-indent">
        <p>{{#t}}pages.confirm.hiddenHelp1{{/t}} <a href="mailto:{{#t}}pages.confirm.hiddenHelpEmail{{/t}}">{{#t}}pages.confirm.hiddenHelpEmail{{/t}}</a> {{#t}}pages.confirm.hiddenHelp2{{/t}}</p>
    </div>
</details>

{{/page-content}}
{{/partials-page}}