{{<govuk-template}}
  {{$bodyClasses}}pdf{{/bodyClasses}}
  {{$head}}
    <style>
      {{{css}}}

      html {
        background: white;
      }
    </style>
  {{/head}}
  {{$main}}
    <main id="content" class="main" role="main">
      <img src="{{ho-logo}}" />
      <h1>{{title}}</h1>
      <h2>Time and date: {{dateTime}}</h2>
      {{#rows}}
        <table data-section="{{section.id}}" class="table-details">
          <tbody{{#name}} data-group="{{name}}"{{/name}}>
            {{#fields}}
              <tr data-id="{{field}}">
                <td data-label="{{label}}">{{label}}</td>
                <td data-value="{{value}}">{{value}}</td>
              </tr>
            {{/fields}}
          </tbody>
        </table>
      {{/rows}}
    </main>
  {{/main}}
{{/govuk-template}}
