extends:
- "homeoffice/config/default"

env:
  node: true
  es6: true
  mocha: true

rules:
  no-underscore-dangle: 0

parserOptions:
  ecmaVersion: 8

overrides:
  - files:
      - "test/**/*.js"
    rules:
      implicit-dependencies/no-implicit: "off"
      no-undef: "off"
      no-unused-expressions: "off"
      max-nested-callbacks: "off"
      no-warning-comments: "off"
