node_modules
.idea
.DS_Store
.vscode
*.iml
public/
apps/**/translations/**/*
!apps/**/translations/src/
!apps/**/translations/src/**/*
test/_accessibility/tmp/*
coverage
.nyc_output
anchore-reports/
.env
