{
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "check-coverage": true,
  "statements": 90,
  "branches": 75,
  "functions": 89,
  "lines": 89,
  "exclude": [
    "test/**/*.js",
    "apps/**/sections/**/*.js",
    "apps/**/fields/**/*.js"
  ]
}
