<div>
  <h3>{{section}}</h3>
</div>
<table class="table-details">
  <tbody>
  {{#fields}}
  <tr>
    <td>{{label}}</td>
    <td data-value="{{value}}">{{value}}</td>
    {{#changeLink}}
      <td><span class="link"><a href="{{changeLink}}" id="{{field}}-change">{{#t}}buttons.change{{/t}}</a></span></td>
    {{/changeLink}}
    {{^changeLink}}
      <td><span class="link"><a href="{{baseUrl}}{{step}}/edit#{{field}}" id="{{field}}-change">{{#t}}buttons.change{{/t}}</a></span></td>
    {{/changeLink}}
  </tr>
  {{/fields}}
  </tbody>
</table>
