@import "$$theme";

.phase-banner {
  @include phase-banner(beta);
}

.govuk-table {
    margin-bottom: 30px;
}

.table-details {
  width: 100%;
  margin-bottom: 3em;

  tbody {
    tr.spacer {
      height: 3em;
    }

    td:nth-child(1) {
      width: 40%;
    }
    td:nth-child(2) {
      width: 60%;
    }
    td:nth-child(3) {
      text-align: right;
      padding-right: 0;
    }
  }

  .button {
    margin: 0;
    background: #dde0e1;
    color: #000;
  }
}

button.govuk-link {
    background: none!important;
    border: none;
    padding: 0!important;
    font-size: arial, sans-serif;
    /* color: #069; */
    text-decoration: underline;
    cursor: pointer;
    display: block;
    margin-bottom: 1em;
    color: #1d70b8;
    font-size: 1em;
}

.govuk-font-weight-bold {
  font-weight: 700!important;
}

.govuk-panel--confirmation {
    color: #ffffff;
    background: #00703c;
}

.govuk-panel {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 35px;
    border: 5px solid transparent;
    text-align: center;
    @media (max-width: 40.0525em) {
        padding: 25px;
    }
    @media (min-width: 40.0625em){
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

.field-col {
    width: 20%;
}

.action-col {
    text-align: right;
}

details {
    margin-top: 34px;
}

.govuk-details__text {
    padding: 15px;
    padding-left: 20px;
    border-left: 5px solid #b1b4b6;
}