@import "$$theme";

.phase-banner {
  @include phase-banner(beta);
}

.govuk-table {
    margin-bottom: 30px;
}

.table-details {
  width: 100%;
  margin-bottom: 3em;

  tbody {
    tr.spacer {
      height: 3em;
    }

    td:nth-child(1) {
      width: 40%;
    }
    td:nth-child(2) {
      width: 60%;
    }
    td:nth-child(3) {
      text-align: right;
      padding-right: 0;
    }
  }

  .button {
    margin: 0;
    background: #dde0e1;
    color: #000;
  }
}

button.govuk-link {
    background: none!important;
    border: none;
    padding: 0!important;
    font-size: arial, sans-serif;
    /* color: #069; */
    text-decoration: underline;
    cursor: pointer;
    display: block;
    margin-bottom: 1em;
    color: #1d70b8;
    font-size: 1em;
}

.govuk-font-weight-bold {
  font-weight: 700!important;
}