{{<partials-page}}
  {{$page-content}}
    <p class="govuk-body">{{#t}}pages.accessibility.intro-p2{{/t}}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{#t}}pages.accessibility.intro-p2-li1{{/t}}</li>
        <li>{{#t}}pages.accessibility.intro-p2-li2{{/t}}</li>
        <li>{{#t}}pages.accessibility.intro-p2-li3{{/t}}</li>
        <li>{{#t}}pages.accessibility.intro-p2-li4{{/t}}</li>
        <li>{{#t}}pages.accessibility.intro-p2-li5{{/t}}</li>
    </ul>
    <p class="govuk-body">{{#t}}pages.accessibility.intro-p3-pre-link{{/t}} <a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">{{#t}}pages.accessibility.intro-p3-link{{/t}}</a> {{#t}}pages.accessibility.intro-p3-post-link{{/t}}</p>
    <h2 class="govuk-heading-m">{{#t}}pages.accessibility.how-accessible-header{{/t}}</h2>
    <p class="govuk-body">{{#t}}pages.accessibility.how-accessible-p1{{/t}}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{#t}}pages.accessibility.how-accessible-p1-li1{{/t}}</li>
        <li>{{#t}}pages.accessibility.how-accessible-p1-li2{{/t}}</li>
    </ul>
    <h2 class="govuk-heading-m">{{#t}}pages.accessibility.feedback-header{{/t}}</h2>
    <p class="govuk-body">{{#t}}pages.accessibility.feedback-p1{{/t}}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{#t}}pages.accessibility.feedback-p2-pre-link{{/t}} <a href="mailto:{{#t}}pages.accessibility.contact-email-operations{{/t}}" class="govuk-link">{{#t}}pages.accessibility.contact-email-operations{{/t}}</a></li>
    </ul>
    <p class="govuk-body">{{#t}}pages.accessibility.feedback-p3{{/t}}</p>
    <h2 class="govuk-heading-m">{{#t}}pages.accessibility.reporting-header{{/t}}</h2>
    <p class="govuk-body">{{#t}}pages.accessibility.reporting-p1{{/t}}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{#t}}pages.accessibility.reporting-p1-li1-pre-link{{/t}} <a href="mailto:{{#t}}pages.accessibility.contact-email-accessibility{{/t}}" class="govuk-link">{{#t}}pages.accessibility.contact-email-accessibility{{/t}}</a></li>
    </ul>
    <p class="govuk-body">
        <a href="http://www.w3.org/WAI/users/inaccessible" class="govuk-link">{{#t}}pages.accessibility.reporting-p2-link{{/t}}</a>
    </p>
    <h2 class="govuk-heading-m">{{#t}}pages.accessibility.enforcement-header{{/t}}</h2>
    <p class="govuk-body">{{#t}}pages.accessibility.enforcement-p1-pre-link{{/t}} <a href ="https://www.equalityadvisoryservice.com/" class="govuk-link">{{#t}}pages.accessibility.enforcement-p1-link{{/t}}</a></p>
    <p class="govuk-body">{{#t}}pages.accessibility.enforcement-p2{{/t}}</p>
    <h2 class="govuk-heading-m">{{#t}}pages.accessibility.technical-info-header{{/t}}</h2>
    <p class="govuk-body">{{#t}}pages.accessibility.technical-info-p1{{/t}}</p>
    <h2 class="govuk-heading-m">{{#t}}pages.accessibility.compliance-header{{/t}}</h2>
    <p class="govuk-body">{{#t}}pages.accessibility.compliance-p1{{/t}}</p>
    <h2 class="govuk-heading-m">{{#t}}pages.accessibility.non-accessible-header{{/t}}</h2>
    <p class="govuk-body">{{#t}}pages.accessibility.non-accessible-p1{{/t}}</p>
    <h3 class="govuk-heading-s">{{#t}}pages.accessibility.non-compliance-header{{/t}}</h3>
    <ul class="list list-bullet">
        <li>{{#t}}pages.accessibility.non-compliance-li1{{/t}}</li>
    </ul>
    <h3 class="govuk-heading-s">{{#t}}pages.accessibility.disproportionate-burden-header{{/t}}</h3>
    <p class="govuk-body">{{#t}}pages.accessibility.disproportionate-burden-p1{{/t}}</p>
    <h3 class="govuk-heading-s">{{#t}}pages.accessibility.outside-scope-header{{/t}}</h3>
    <p class="govuk-body">{{#t}}pages.accessibility.outside-scope-p1{{/t}}</p>
    <h2 class="govuk-heading-m">{{#t}}pages.accessibility.preparation-header{{/t}}</h2>
    <p class="govuk-body">{{#t}}pages.accessibility.preparation-p1{{/t}}</p>
    <p class="govuk-body">{{#t}}pages.accessibility.preparation-p2{{/t}}</p>
    <p class="govuk-body">{{#t}}pages.accessibility.preparation-p3{{/t}}</p>
  {{/page-content}}
{{/partials-page}}
