{{<partials-page}}


{{$propositionHeader}}
<div class="header-proposition">
  <div class="content">
    <nav id="proposition-menu">
      <a href id="proposition-name">
        Help improve Home Office services
      </a>
    </nav>
  </div>
</div>
{{/propositionHeader}}

  {{$page-content}}


  <p class="govuk-body">{{#t}}pages.improve-our-services.needsYourHelp{{/t}}</p>
  <p class="govuk-body">{{#t}}pages.improve-our-services.toJoin{{/t}}</p>

  <ul class="list list-bullet">
    <li>{{#t}}pages.improve-our-services.bullet18+{{/t}}</li>
    <li>{{#t}}pages.improve-our-services.bulletUkEu{{/t}}</li>
  </ul>

  <p class="govuk-body">{{#t}}pages.improve-our-services.voucher{{/t}}</p>
  <p class="govuk-body">{{#t}}pages.improve-our-services.youCanSayNo{{/t}}</p>

  <a href={{#t}}pages.improve-our-services.surveyLink{{/t}} class="button" role="button">{{#t}}buttons.signUp{{/t}}</a>

  <h2 class="govuk-heading-m">{{#t}}pages.improve-our-services.whatsInvolved{{/t}}</h2>
  <p class="govuk-body">{{#t}}pages.improve-our-services.whatsInvolvedParagraph{{/t}}</p>
  <p class="govuk-body">{{#t}}pages.improve-our-services.notGoodWithComputers{{/t}}</p>
  <p class="govuk-body">{{#t}}pages.improve-our-services.youMightBeAsked{{/t}}</p>

  <ul class="list list-bullet">
    <li>{{#t}}pages.improve-our-services.bulletNewTransactions{{/t}}</li>
    <li>{{#t}}pages.improve-our-services.bulletAnswerQuestions{{/t}}</li>
    <li>{{#t}}pages.improve-our-services.bulletTalkToResearchers{{/t}}</li>
    <li>{{#t}}pages.improve-our-services.bulletVisit{{/t}}</li>
    <li>{{#t}}pages.improve-our-services.bulletMeetResearchers{{/t}}</li>
  </ul>

  <p class="govuk-body">{{#t}}pages.improve-our-services.preferToMeet{{/t}}</p>

  <h2 class="govuk-heading-m">{{#t}}pages.improve-our-services.inPerson{{/t}}</h2>
  <p class="govuk-body">{{#t}}pages.improve-our-services.weMightAsk{{/t}}</p>

  <ul class="list list-bullet">
    <li>{{#t}}pages.improve-our-services.bulletYouVisit{{/t}}</li>
    <li>{{#t}}pages.improve-our-services.bulletVisitHomeWork{{/t}}</li>
  </ul>

  <p class="govuk-body">{{#t}}pages.improve-our-services.researchTime{{/t}}</p>
  <p class="govuk-body">{{#t}}pages.improve-our-services.recordResearch{{/t}}</p>

  <h2 class="govuk-heading-m">{{#t}}pages.improve-our-services.online{{/t}}</h2>
  <p class="govuk-body">{{#t}}pages.improve-our-services.onlineTask{{/t}}</p>
  <p class="govuk-body">{{#t}}pages.improve-our-services.researchTimeOnline{{/t}}</p>
  <p class="govuk-body">{{#t}}pages.improve-our-services.maybeVouchers{{/t}}</p>
  <p class="govuk-body">{{#t}}pages.improve-our-services.takePartResearch{{/t}}</p>

  <h2 class="govuk-heading-m">{{#t}}pages.improve-our-services.contactHomeOffice{{/t}}</h2>
  <p class="govuk-body">{{#t}}pages.improve-our-services.contactEmail{{/t}}</p>

  {{/page-content}}

{{/partials-page}}
