<h2>{{section}}</h2>
<table class="table-details">
    <caption class="visuallyhidden">{{section}}</caption>
    <tbody>
    {{#fields}}
        {{#spacer}}
            <tr class="spacer">
                <td colspan="3"></td>
            </tr>
        {{/spacer}}
        {{^spacer}}
            <tr{{#className}} class="{{className}}"{{/className}}>
                <td>{{label}}</td>
                <td data-value="{{value}}">{{value}}</td>
                <td><a href="{{baseUrl}}{{step}}/edit#{{field}}" class="govuk-link" id="{{field}}-change">{{#t}}buttons.change{{/t}} <span class="visuallyhidden">{{summaryDescription}}</span></a></td>
            </tr>
        {{/spacer}}

    {{/fields}}
    </tbody>
</table>