{{<partials-page}}
  {{$page-content}}

      <div class="govuk-form-group">

          {{#renderField}}brpNumber{{/renderField}}

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                {{#t}}pages.brp.detail-summary{{/t}}
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">{{#t}}pages.brp.detail-text{{/t}}</p>
              <div class="image-wrapper">
                <img src="{{assetPath}}/images/card-example-xsmall.png" width="360px" alt="BRP details">
              </div>
            </div>
          </details>
      
          {{#renderField}}fullName{{/renderField}}
          {{#renderField}}dateOfBirth{{/renderField}}
    
      </div>

      {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
