{{<partials-page}}
  {{$page-content}}
    <p>{{#t}}pages.index.text1{{/t}}</p>
    <p>{{#t}}pages.index.text2{{/t}}</p>
    <ul class="list list-bullet">
        <li>{{#t}}pages.index.bullet1{{/t}}</li>
        <li>{{#t}}pages.index.bullet2{{/t}}</li>
        <li>{{#t}}pages.index.bullet3{{/t}}</li>
    </ul>
    <p>{{#t}}pages.index.applicationTime{{/t}}</p>

    <input type="submit" class="button govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" value="{{#t}}pages.index.start{{/t}}" data-module="govuk-button"/>
  {{/page-content}}
{{/partials-page}}
