{{<partials-page}}
  {{$page-content}}

    <ul class="list list-bullet">
        <li>{{#t}}pages.ni-number.bullet1{{/t}}</li>
        <li>{{#t}}pages.ni-number.bullet2{{/t}}</li>
        <li>{{#t}}pages.ni-number.bullet3{{/t}}</li>
        <li>{{#t}}pages.ni-number.bullet4{{/t}}</li>
        <li>{{#t}}pages.ni-number.bullet5{{/t}}</li>
    </ul>

    {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}

    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
