NODE_ENV=development

REDIS_HOST=hof-redis

#Gov.uk Notify
NOTIFY_KEY=
CASEWORKER_EMAIL=
FEEDBACK_EMAIL=
TEMPLATE_APPLY=
TEMPLATE_ACCEPT=
TEMPLATE_FEEDBACK=
TEMPLATE_EMAIL_RECEIPT=
TEMPLATE_TEXT_RECEIPT=
TEMPLATE_ACCEPT_EMAIL_RECEIPT=
TEMPLATE_ACCEPT_TEXT_RECEIPT=

#html-pdf-converter
PDF_CONVERTER_URL=http://html-pdf-converter:8082/convert
