<div class="loop-summary-table">
    <h2>{{summaryTitle}}</h2>
    {{#items}}
        <table class="govuk-table">
            <!-- <caption class="govuk-table__caption">Dates and amounts</caption> -->
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" colspan="2">{{itemTitle}} {{#multipleItems}}{{index}}{{/multipleItems}}</th>
                    <th scope="col" class="govuk-table__header  action-col"><a href="{{baseUrl}}/{{route}}/{{deleteRoute}}/{{id}}/delete">{{deleteText}}</a></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {{#fields}}
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header field-col">{{header}}</th>
                        <td class="govuk-table__cell">{{value}}</td>
                        <td class="govuk-table__cell action-col"><a href="{{baseUrl}}/{{route}}/{{subroute}}/{{id}}/change">{{#t}}buttons.edit{{/t}}</a></td>
                    </tr>
                {{/fields}}
            </tbody>
        </table>
    {{/items}}
</div>